# Entorno Virtual
venv/
.venv/
env/

# Variables de entorno (¡CRÍTICO! Contiene tus contraseñas)
.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local (por si usaras SQLite en algún punto)
*.sqlite3
*.db

# Archivos de VS Code
.vscode/

# Distribución / Paquetes
dist/
build/
*.spec